# database configs

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/task_manager

# authentication
JWT_AUTH_SECRET_KEY=a3f8c2e1d4b7a9f0e3c6d8b2a5f1e9c7d4b8a2f0e6c3d9b1a7f4e2c8d5b3a9f6